@charset "UTF-8";
/*Обнуление*/
@import url("https://fonts.googleapis.com/css2?family=Outfit&family=Roboto:wght@300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@700&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
  -webkit-tap-highlight-color: transparent;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

a:active, a:focus {
  outline: none;
}

input, textarea {
  outline: none;
}

input:active, textarea:active {
  outline: none;
}

:focus {
  outline: none;
}

textarea {
  resize: none;
}

textarea {
  resize: vertical;
}

textarea {
  resize: horizontal;
}

/* Контейнер */
/* One */
.container {
  width: 100%;
  max-width: 1270px;
  padding: 0 70px;
  margin: 0 auto;
  box-sizing: border-box;
}

/* Two */
@media (max-width: 1240px) {
  .container {
    width: 100%;
    padding: 0 20px;
  }
}
/* Three */
@media (max-width: 1024px) {
  .container {
    width: 100%;
    padding: 0 30px;
  }
}
/* Four */
@media (max-width: 767px) {
  .container {
    width: 100%;
    padding: 0 20px;
  }
}
.header {
  padding-top: 20px;
}

.logo {
  width: auto;
  max-width: 112px;
  height: auto;
}

.advertising {
  padding-top: 97px;
}
.advertising__icons {
  display: flex;
  gap: 40px;
}
.advertising__icons .icon {
  display: flex;
  gap: 10px;
}
.advertising__icons img {
  width: 22px;
  height: 22px;
}
.advertising__icons .icon-text {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 115%;
  color: #000;
}
.advertising__information {
  display: flex;
  justify-content: space-between;
}
.advertising__info {
  width: auto;
  max-width: 570px;
}
.advertising__info h1 {
  padding-top: 20px;
  font-family: "Roboto Slab", sans-serif;
  font-weight: 700;
  font-size: 80px;
  line-height: 101%;
  color: #000;
}
.advertising__text {
  padding-top: 32px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 150%;
  color: #000;
}

.quote__image {
  padding-top: 50px;
  display: flex;
  justify-content: center;
}
.quote img {
  width: auto;
}

h2 {
  font-family: "Roboto Slab", sans-serif;
  font-weight: 700;
  font-size: 55px;
  line-height: 101%;
  color: #000;
}

.course {
  padding-top: 160px;
}
.course__information {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 53px;
}
.course__info {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 662px;
}
.course__text {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 150%;
  color: #000;
}
.course img {
  width: auto;
  max-width: 366px;
}
.course__description {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 95px;
}
.course__description img {
  width: auto;
  max-width: 219px;
}
.course .desc {
  width: 150px;
}
.course .main {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 25px;
  line-height: 130%;
  color: #000;
}
.course .second {
  padding-top: 8px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 130%;
  color: #000;
}

.format {
  padding-top: 160px;
}
.format__information {
  display: flex;
  justify-content: space-between;
  padding-top: 125px;
}
.format__info {
  max-width: 270px;
}
.format__main {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 25px;
  line-height: 130%;
  color: #1e4681;
}
.format__second {
  padding-top: 8px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 130%;
  color: #000;
}

.knowledge {
  padding-top: 155px;
  /* Переопределение стилей маркированного списка */
}
.knowledge__heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.knowledge__info {
  display: flex;
  justify-content: space-between;
}
.knowledge__text {
  width: 100%;
  max-width: 660px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 150%;
  color: #000;
}
.knowledge__image {
  padding-top: 160px;
}
.knowledge .specific-list-class ul {
  list-style: disc;
}
.knowledge .specific-list-class li {
  list-style: disc;
  color: #333;
  /* Установка цвета текста пунктов списка */
}

.reviews {
  padding-top: 90px;
  padding-bottom: 110px;
  background: #efefef;
}
.reviews h2 {
  padding-bottom: 70px;
}
.reviews__info {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 790px;
  padding: 40px 45px;
  background: #FFFFFF;
  border-radius: 30px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}
.reviews__text {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 150%;
  color: #000;
}
.reviews__author {
  display: flex;
  padding-top: 40px;
  gap: 30px;
}
.reviews__signature {
  padding-top: 30px;
  padding-bottom: 30px;
  font-family: "Roboto Slab", sans-serif;
  font-weight: 700;
  font-size: 30px;
  line-height: 101%;
  color: #000;
}
.reviews__facebook {
  width: auto;
  max-width: 31px;
}

.sale {
  padding-top: 180px;
  padding-bottom: 200px;
  background: #9dc9c8;
}
.sale__data {
  font-family: "Roboto Slab", sans-serif;
  font-weight: 700;
  font-size: 55px;
  line-height: 101%;
  color: #000;
}
.sale__costs {
  padding-top: 64px;
}
.sale__cost {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 80px;
  line-height: 101%;
  color: #000;
}
.sale__conditions {
  padding-top: 75px;
  display: flex;
  gap: 70px;
}
.sale__condition {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 100%;
  max-width: 295px;
}
.sale__main {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 25px;
  line-height: 101%;
  color: #000;
}
.sale__second {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 101%;
  color: #000;
}

.footer {
  padding-top: 50px;
  padding-bottom: 45px;
  background: #000;
}
.footer__wrapper {
  display: flex;
  justify-content: space-between;
}
.footer__left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.footer__networks {
  display: flex;
  justify-content: space-between;
  gap: 18px;
  padding-top: 30px;
}
.footer__network {
  width: 35px;
}
.footer__copyright {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 101%;
  color: #fff;
}
.footer p {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 25px;
  line-height: 101%;
  color: #fff;
}
.footer___right {
  -moz-column-gap: 18px;
       column-gap: 18px;
}
.footer__connection {
  display: flex;
}
.footer__icon {
  width: 27px;
}/*# sourceMappingURL=style.css.map */