@import 'clear-styles';
@import 'container';
@import 'media-queries';

@import url('https://fonts.googleapis.com/css2?family=Outfit&family=Roboto:wght@300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@700&display=swap');

.header {
    padding-top: 20px;
}

.logo {
    width: auto;
    max-width: 112px;
    height: auto;
}

.advertising {
    padding-top: 97px;

    &__icons {
        display: flex;
        gap: 40px;

        .icon {
            display: flex;
            gap: 10px;
        }

        img {
            width: 22px;
            height: 22px;
        }

        .icon-text {
            font-family: "Roboto", sans-serif;
            font-weight: 400;
            font-size: 20px;
            line-height: 115%;
            color: #000;
        }
    }

    &__information {
        display: flex;
        justify-content: space-between;
    }

    &__info {
        width: auto;
        max-width: 570px;

        h1 {
            padding-top: 20px;
            font-family: "Roboto Slab", sans-serif;
            font-weight: 700;
            font-size: 80px;
            line-height: 101%;
            color: #000;
        }

    }

    &__text {
        padding-top: 32px;
        font-family: "Roboto", sans-serif;
        font-weight: 400;
        font-size: 20px;
        line-height: 150%;
        color: #000;
    }
}

.quote {

    &__image {
        padding-top: 50px;
        display: flex;
        justify-content: center;
    }

    img {
        width: auto;
    }
}

h2 {
    font-family: "Roboto Slab", sans-serif;
    font-weight: 700;
    font-size: 55px;
    line-height: 101%;
    color: #000;
}

.course {
    padding-top: 160px;

    &__information {
        display: flex;
        justify-content: space-between;
        align-items: center;

        padding-top: 53px;
    }

    &__info {
        display: flex;
        flex-direction: column;

        width: 100%;
        max-width: 662px;
    }

    &__text {
        font-family: "Roboto", sans-serif;
        font-weight: 400;
        font-size: 24px;
        line-height: 150%;
        color: #000;
    }

    img {
        width: auto;
        max-width: 366px;
    }


    &__description {
        display: flex;
        align-items: center;
        justify-content: space-between;

        padding-top: 95px;

        img {
            width: auto;
            max-width: 219px;
        }
    }

    .desc {
        width: 150px;
    }

    .main {
        font-family: "Roboto", sans-serif;
        font-weight: 700;
        font-size: 25px;
        line-height: 130%;
        color: #000;
    }

    .second {
        padding-top: 8px;
        font-family: "Roboto", sans-serif;
        font-weight: 400;
        font-size: 18px;
        line-height: 130%;
        color: #000;
    }

}

.format {
    padding-top: 160px;

    &__information {
        display: flex;
        justify-content: space-between;
        padding-top: 125px;
    }

    &__info {
        max-width: 270px;
    }

    &__main {
        font-family: "Roboto", sans-serif;
        font-weight: 700;
        font-size: 25px;
        line-height: 130%;
        color: #1e4681;
    }

    &__second {
        padding-top: 8px;
        font-family: "Roboto", sans-serif;
        font-weight: 400;
        font-size: 18px;
        line-height: 130%;
        color: #000;
    }

}

.knowledge {
    padding-top: 155px;

    &__heading {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__info {
        display: flex;
        justify-content: space-between;
    }

    &__text {
        width: 100%;
        max-width: 660px;

        font-family: "Roboto", sans-serif;
        font-weight: 400;
        font-size: 24px;
        line-height: 150%;
        color: #000;
    }

    &__image {
        padding-top: 160px;
    }

    /* Переопределение стилей маркированного списка */
    .specific-list-class ul {
        list-style: disc;
    }

    .specific-list-class li {
        list-style: disc;
        color: #333;
        /* Установка цвета текста пунктов списка */
    }

}

.reviews {
    padding-top: 90px;
    padding-bottom: 110px;
    background: #efefef;

    h2 {
        padding-bottom: 70px;
    }

    &__info {
        display: flex;
        flex-direction: column;

        width: 100%;
        max-width: 790px;
        padding: 40px 45px;

        background: #FFFFFF;
        border-radius: 30px;
        box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    }

    &__text {
        font-family: "Roboto", sans-serif;
        font-weight: 400;
        font-size: 20px;
        line-height: 150%;
        color: #000;
    }

    &__author {
        display: flex;
        padding-top: 40px;
        gap: 30px;
    }

    &__signature {
        padding-top: 30px;
        padding-bottom: 30px;
        font-family: "Roboto Slab", sans-serif;
        font-weight: 700;
        font-size: 30px;
        line-height: 101%;
        color: #000;
    }


    &__facebook {
        width: auto;
        max-width: 31px;

    }
}

.sale {
    padding-top: 180px;
    padding-bottom: 200px;
    background: #9dc9c8;

    &__data {
        font-family: "Roboto Slab", sans-serif;
        font-weight: 700;
        font-size: 55px;
        line-height: 101%;
        color: #000;
    }

    &__costs {
        padding-top: 64px;
    }

    &__cost {
        font-family: "Roboto", sans-serif;
        font-weight: 400;
        font-size: 80px;
        line-height: 101%;
        color: #000;
    }

    &__conditions {
        padding-top: 75px;
        display: flex;
        gap: 70px;

    }

    &__condition {
        display: flex;
        flex-direction: column;
        gap: 15px;

        width: 100%;
        max-width: 295px;
    }

    &__main {
        font-family: "Roboto", sans-serif;
        font-weight: 400;
        font-size: 25px;
        line-height: 101%;
        color: #000;
    }

    &__second {
        font-family: "Roboto", sans-serif;
        font-weight: 400;
        font-size: 18px;
        line-height: 101%;
        color: #000;
    }

}

.footer {
    padding-top: 50px;
    padding-bottom: 45px;
    background: #000;

    &__wrapper {
        display: flex;
        justify-content: space-between;
    }

    &__left {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    &__networks {
        display: flex;
        justify-content: space-between;
        gap: 18px;
        padding-top: 30px;
    }

    &__network {
        width: 35px;
    }

    &__copyright {
        font-family: "Roboto", sans-serif;
        font-weight: 400;
        font-size: 18px;
        line-height: 101%;
        color: #fff;
    }

    p {
        font-family: "Roboto", sans-serif;
        font-weight: 400;
        font-size: 25px;
        line-height: 101%;
        color: #fff;
    }

    &___right {
        column-gap: 18px;
    }

    &__connection {
        display: flex;
    }

    &__icon {
        width: 27px;
    }
}